$gray-100: #F8F9FA;
$gray-300: #00000062;
$gray-400: #CED4DA;
$gray-600: #6C757D;
$gray-900: #212529;
$green: #198754;
$red: #DC3545;

.gray-600{
    color: $gray-600;
}
.gray-900{
    color: $gray-900;
}
.green{
    color: $green;
}
.red{
    color: $red;
}