<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="left">
    <div>
        <a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg" class="left-img" alt="logo"></a>
        <ul>
            <a href="#" class="left-column">
                <li>
                    <span class="left-icon material-symbols-outlined">insert_chart</span>
                    <p class="left-text">Dashboard</p>
                </li>
            </a>
            <a href="#" class="left-column">
                <li>
                    <span class="left-icon material-symbols-outlined">forum</span>
                    <p class="left-text">Question</p>
                </li>
            </a>
            <a href="#" class="left-column">
                <li>
                    <span class="left-icon material-symbols-outlined">assignment</span>
                    <p class="left-text">Assignment</p>
                </li>
            </a>
            <a href="#" class="left-column">
                <li>
                    <span class="left-icon material-symbols-outlined">video_library</span>
                    <p class="left-text">Course</p>
                </li>
            </a>
            <a href="index.html" class="left-column">
                <li>
                    <span class="left-icon material-symbols-outlined">group</span>
                    <p class="left-text">Admin</p>
                </li>
            </a>
            <a href="#" class="left-column">
                <li>
                    <span class="left-icon material-symbols-outlined">settings</span>
                    <p class="left-text">Settings</p>
                </li>
            </a>
        </ul>
    </div>
    <div class="footer-user">
        <a href="#" class="d-flex">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" class="footer-img" alt="img-andy">
            <div class="footer-text ml16">
                <p class="fw-bold fz16 gray-900 mb4">Andy Chen</p>
                <p class="fz14 gray-600">andy0401@mail.com</P>
            </div>
        </a>
    </div>
</div>
